@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<h2>Developer Contact Information</h2>

<div id="Contact" class="container-fluid bg-2 text-center">
    <h3 class="margin">Our Team</h3>
    <div class="row">
        <div class="col-sm-4">
            <p>Andrew Dymarkowski</p>
            <p>Email: ad694414@ohio.edu</p>
            <img src="\\aspnet.cob.ohio.edu\aspnet$\tk848615\Images\4.jpg" class="img-circle" style="width:50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Conor Faut</p>
            <p>Email: cf085115@ohio.edu</p>
            <img src="\\aspnet.cob.ohio.edu\aspnet$\tk848615\Images\1.jpg" class="img-circle" style="width:50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Kenneth Lavan</p>
            <p>Email: kl980715@ohio.edu</p>
            <img src="\\aspnet.cob.ohio.edu\aspnet$\tk848615\Images\3.jpg" class="img-circle" style="width:50%" alt="Image">
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-sm-4">
            <p>Rick Thiebout</p>
            <p>Email: rt334015@ohio.edu</p>
            <img src="\\aspnet.cob.ohio.edu\aspnet$\tk848615\Images\2.jpg" class="img-circle" style="width:50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Tim Kieltyka</p>
            <p>Email: tk848615@ohio.edu</p>
            <img src="\\aspnet.cob.ohio.edu\aspnet$\tk848615\Images\0.jpg" class="img-circle" style="width:50%" alt="Image">
        </div>
    </div>
</div>